<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585861915263-h5qa6984rg062fprjsmadf8hcm543rlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585861915263-h5qa6984rg062fprjsmadf8hcm543rlk</string>
	<key>API_KEY</key>
	<string>AIzaSyDmimz7me9dMx4aGKZZUVqVj5CEBtxoYdI</string>
	<key>GCM_SENDER_ID</key>
	<string>585861915263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourPass</string>
	<key>PROJECT_ID</key>
	<string>ourpass-f722d</string>
	<key>STORAGE_BUCKET</key>
	<string>ourpass-f722d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585861915263:ios:ef6b9f802545283bff954a</string>
</dict>
</plist>